<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35977646849-hjhm5o3m71bsvc2beqq5d5fhj7qpllom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35977646849-hjhm5o3m71bsvc2beqq5d5fhj7qpllom</string>
	<key>API_KEY</key>
	<string>AIzaSyAe1fPHYT8h7jUWMvc3uYX8bjvASSb2RSI</string>
	<key>GCM_SENDER_ID</key>
	<string>35977646849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simonwork.Mug-Lite</string>
	<key>PROJECT_ID</key>
	<string>mug-lite</string>
	<key>STORAGE_BUCKET</key>
	<string>mug-lite.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35977646849:ios:1af3740c13fa6dd6e2c100</string>
    <key>ADMOB_APP_ID</key>
    <string>ca-app-pub-7181550207731095~3499888931</string>
</dict>
</plist>
